
# config builder
click
jsonschema
PyYAML
referencing
sentry_jsonnet
sentry_kafka_schemas

# libsentrykube
click
google_api_python_client
httpx
Jinja2
jsonpatch
jsonpath_ng
kubernetes
paramiko
protobuf
PyYAML
Requests
setuptools

# pr_approver
dictdiffer
PyYAML

# sentry_kube
click
Jinja2
kubernetes
PyYAML
sentry_sdk
tabulate
