name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    name: "Run tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Make environment
        run: |
          make install-all-dependencies

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.22"

      - name: Install kube-linter
        # Needed for the kube-linter integration tests.
        # It this starts taking too long we can xfail those tests and isolate
        # the logic more.
        run: go install golang.stackrox.io/kube-linter/cmd/kube-linter@v0.7.3

      - name: Run sentry-kube tests
        run: |
          make tools-test
