name: type-checking
on:
  pull_request:

jobs:
  typing:
    name: "mypy typing"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v3 # v3 # v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Make environment
        run: make install-all-dependencies

      - name: Run strict mypy
        run: make cli-typecheck
